.reserved-word {
  color: blue;
}/*  False None True and class def is lambda nonlocal not or  as assert async await break continue del elif else if except finally for from global import in pass raise return try while with yield */

.arithmetic-operator{
color:rgb(255, 255, 0)
}/*  + - = / *   */

.comparative-operator{
color: pink;
}/* == != >= <= */

.comment{
color: rgb(0, 255, 0);
}/* Everything after # until a newline is given */

.word_pattern{
color: black;
}/* anything that is a number or Letter and does not meet the conditions mentioned above */

.parenthesis{
  color:aqua;
}/* This ( ) [ ] { } */

.variable{
  color: darkgreen;
}/*str int bool char*/


